/*css reset*/
*{box-sizing: border-box}
*:after,*:before{box-sizing: border-box}
*{padding: 0;margin: 0}
ul,li{list-style: none}
/*style*/
body{
    background: #eee;
}

.globalHeader{
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.globalHeader>input{
    width:100%;
    margin-right: 10px;
    height:40px;
    padding:0 5px;
    border:1px solid #ddd;
    border-radius: 4px;


}
.globalHeader>button{
    white-space: nowrap;
    padding:0 20px;
    background: #0282B9;
    border:1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color:white;
}

.globalMain{

}

.siteList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 20px;
}

.siteList>li{
}
.siteList .site{
    display: flex;
    justify-content: center;
    width: 160px;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    background: white;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.siteList .site>.logo{
    width:64px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.siteList .site>.link{
    font-size: 14px;
    margin-top: 4px;
}

.siteList .addButton{
    width:160px;
}